@font-face {
    font-family: ‘jetbrains-mono’;
    src: url(‘JetBrainsMono-Medium.ttf’);
    src: url(‘JetBrainsMono-Medium.ttf?#iefix’) format(’embedded-opentype’), url(‘JetBrainsMono-Medium.woff’) format(‘woff’);
    font-weight: normal;
    font-style: normal;
}